@model ServiceItem
@{
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.Keywords = Model.MetaKeywords;
}
<div id="main">
    <article class="post">
        <h2>
            @Model.Title
        </h2>
        <h3>
            @Model.Subtitle
        </h3>
        <div>
            <img class="align-center" src="~/images/@Model.TitleImagePath" />
        </div>
        <div>
            <form asp-area="User" asp-controller="Orders" asp-action="Edit" asp-route-id="">
                <input type="submit" value="Создать запрос" />
            </form>
        </div>
    </article>
    <article class="post">
        @Html.Raw(Model.Text)
    </article>
</div>
    