@model TextField
@{
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.KeyWords = Model.MetaKeywords;
}

<div id="main">
    <article class="post">
        @Html.Raw(Model.Text)
    </article>
</div>