@model IQueryable<Order>
@{
    string strTitle = "Личный кабинет";
    ViewBag.Title = strTitle;
}


<div id="main">
    <article class="post">
        <div>
            <h1>@strTitle <a>ʕ•́ᴥ•̀ʔっ</a></h1>
        </div>
    </article>
    <article class="post">

        <div>
            <div>
                <h3>Мои запросы</h3>
                <div class="div-cut">
                    <a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="">Выбрать услугу</a>
                </div>
            </div>
            @if (Model.Any())
            {
                <div>
                    @foreach (Order entity in Model)
                    {
                        <div>
                            <a asp-area="User" asp-controller="Orders" asp-action="Index" asp-route-id="@entity.Id">
                                @($"{entity.Post}")
                            </a>
                            |
                            <a asp-area="User" asp-controller="Orders" asp-action="Edit" asp-route-id="@entity.Id">редактировать</a>
                            |
                            <form style="display:inline-block;" id="from-@entity.Id" asp-area="User" asp-controller="Orders" asp-action="Delete" method="post">
                                <input type="hidden" name="id" value="@entity.Id" />
                                <a href="#" onclick="document.getElementById('form-@entity.Id').submit();">удалить</a>
                            </form>
                        </div>
                    }
                </div>
            }
        </div>
        
        <div>
            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
                <input type="submit" value="Выйти" />
            </form>
        </div>
    </article>
</div>